<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Social Wall</h1>
      <form id="message-form" method="POST" action="/messages">
        <textarea class= "icarus" id="message-body" name="body" placeholder="Enter a message here."></textarea>
        <button class= "submit" type="submit" value= "Erect (don't be so immature)">Post Message</button>
      </form>
      <% if messages.empty? %>
        <h2>Sorry, no messages. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <li>
              <div class="message-body">
                <%= message.body %>
              </div>
              <div class="message-timestamp">
                Posted on <%= message.created_at.strftime("%B %d, %Y at %l:%M%p") %>
              </div>
               
                <p>
                  <form action="/messages/<%= message.id %>/delete" method="post">
                    <input class="button" type="submit" value="Demolish">
                  </form>
                </p>
                <p> 
                  <form action="/messages/<%= message.id %>/upvote" method="post">
                    <input class="button" type="submit" value="Upwall!">
                  </form>
                </p>
                <p><strong>Walls</strong>:<%= message.votes %></p>
                <p>
                  <form action="/messages/<%= message.id %>/downvote" method="post">
                    <input class="button" type="submit" value="Downwall!">
                  </form>
                </p>
                <p><strong>Downwalls</strong>:<%= message.downvotes %></p>
              
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </body>
</html>